body{
    margin: 0;
    background-color: rgb(247, 246, 246);
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
  
}  

@media (min-width: 1200.1px){
    body{
        padding-left: 250px;
    }
}